
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}
.container #title{
  text-align: center;
  font-size: 25pt;
  margin-top: 5rem;
}
.container form{
  margin-top: 5rem;
}
.container form .form_inpurt{
  margin: 1rem 4rem 0rem 4rem;
}
.container .button{
  margin-top: 5rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.container #link{
  margin-left:4rem;
  margin-top:1rem;
}
#img{
  background: url('../../assets/img/login_adm.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:580px;
}